language = "python3"
run = "(black main.py -v; sed -i 's/    /	/g' main.py) & python main.py"
hidden = ["*/primes", "*.so", "*.log*", "*.json", "**/*.lock", "**/target"]
[packager]
guessImports = false